---
layout: customhome
---

{% include base_path %}

<div class="front-page-container">
    <main>
        <h1 class="front-page-title"><a href="{{ site.baseurl }}">{{site.title}}</a></h1>
        <img class="front-page-bio-photo" src="images/bio-photo.png" alt="{{site.title}}" />

        <p>Hey there - I'm Justin, a web developer and entrepreneur from Northern Minnesota. I bring a background of nearly <strong>a decade in the technology services industry</strong> working with businesses to help them <strong>utilize technology better</strong>.</p>

        <p>I can help you with one of your most important places of business: the web.</p>

        <p>Whether you're looking for some help simply <strong>maintaining</strong> your current website, <strong>advice</strong> on how to use today's technology to further your business, or <strong>custom-developed solutions</strong>, you're in the right place.</p>

        <div class="center-div"><a href="/contact" class="btn btn--cta btn--info">Hire Me</a></div>


        <h2>Web Developer</h2>

        <h3>Focuses:</h3>
        <ul>
            <li>Wordpress</li>
            <li>Discourse</li>
            <li>Front-End Development</li>
            <li>Technology Consulting</li>
        </ul>

        <p>If you're interested in hiring me, <a href="/contact">let's chat</a>.</p>

        <h2>Where to Find Me</h2>

        <ul>
            <li>GitHub: <a href="https://github.com/justindirose">justindirose</a></li>
            <li>Twitter: <a href="https://twitter.com/justindirose">@justindirose</a></li>
            <li>Micro.blog: <a href="https://micro.blog/justindirose">@justindirose</a></li>
            <li>Email: Hit up my <a href="/contact">Contact page</a></li>
        </ul>

        <p>You might also be interested in <a href="/articles">my blog</a>, where I talk about productivity, emotional health, technology, and leadership.</p>

        <h2>For Funsies</h2>
        <p>I write (and sometimes record) songs.</p>
        <p>I thoroughly enjoy an excellent cup of coffee.</p>
        <p>I write regularly for the <a href="https://productivityguild.com">Productivity Guild</a>.</p>
        <p>I have a wife, two kids, and am recently a free agent.</p>
    </main>
    <footer>
        {% include front-menu.html %}
    </footer>
</div>
